# Database
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

# Email
RESEND_API_KEY=re_...
ADMIN_EMAIL=nancy@guestly.co.uk

# Booking (if using Cal.com)
NEXT_PUBLIC_CAL_COM_USERNAME=nancy-monaco

# General
NEXT_PUBLIC_SITE_URL=https://guestly.co.uk
